@use '../mixins';

.l-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;

  &-narrower {
    padding: 0 2rem;
  }

  &-narrow {
    padding: 0 3.7rem;
  }

  &-wider {
    padding: 0 1.2rem;
  }

  @include mixins.respond {
    max-width: 144rem;
    padding: 0 8rem;
  }
}
