@use '../mixins';

#footer {
  padding: 14rem 0 4rem;

  color: #ffffff;
  font-size: 1.6rem;

  background-color: #00252e;

  .logo {
    margin-bottom: 2rem;
  }

  .contact-info {
    margin-bottom: 5.8rem;
  }

  .nav {
    margin-bottom: 5.1rem;
  }

  .socials {
    margin-bottom: 2.5rem;
  }

  @include mixins.respond {
    padding-top: 19rem;
    padding-left: 4rem;
    padding-bottom: 6.4rem;

    .logo {
      margin-bottom: 4rem;
    }

    .l-footer-body {
      display: flex;
      margin-bottom: 4rem;
    }

    .contact-info, .nav, .socials {
      margin-bottom: 0;
    }

    .contact-info {
      margin-right: 10.8%;
    }

    .socials {
      flex: 1 1;
      margin-left: 1.2rem;
    }
  }
}
