#footer {
  padding: 14rem 0 4rem;

  color: #ffffff;
  font-size: 1.6rem;

  background-color: #00252e;

  .logo {
    margin-bottom: 2rem;
  }

  .contact-info {
    margin-bottom: 5.8rem;
  }

  .nav {
    margin-bottom: 5.1rem;
  }

  .socials {
    margin-bottom: 2.5rem;
  }
}
