@use '../mixins';

$v-padding: 2.4rem;

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-top: $v-padding;
  padding-bottom: $v-padding;

  .l-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mixins.respond {
    $v-padding: 4.9rem;

    padding-top: $v-padding;
    padding-bottom: $v-padding;
  }
}
