@use '../mixins';

#hero {
  padding-top: 13rem;
  padding-bottom: 3rem;

  text-align: center;

  background: #ebfbff url('/images/bg-hero-mobile.svg') no-repeat center top / contain;

  .title {
    margin-bottom: 2.2rem;
  }

  .lead {
    margin-bottom: 3.2rem;
  }

  .button {
    margin-bottom: 5.3rem;
  }

  @include mixins.respond {
    padding-top: 16rem;
    padding-bottom: 6.4rem;

    text-align: left;

    background-image: url('/images/bg-hero-desktop.svg');

    .l-container {
      display: flex;
      align-items: center;
    }

    .l-hero-body {
      width: 58.5rem;
      margin-right: 7rem;
      margin-top: 6.5rem;
    }

    img {
      width: 100%;
      max-width: calc(100% - 58.5rem);
    }

    .title {
      margin-bottom: 2.8rem;
    }
  }
}
