@use '../mixins';

#promo {
  transform: translateY(38%);

  .l-container {
    display: flex;
    justify-content: center;

    .cta-card {
      flex: 1 1;
    }
  }

  @include mixins.respond {
    transform: translateY(34%);
  }
}
