@use '../mixins';

.copy {
  display: block;

  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: 'Poppins', sans-serif;

  @include mixins.respond {
    font-size: 1.2rem;
    text-align: right;
    letter-spacing: 0;
  }
}
